.word {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* height: 100px; */
  position: relative;
  overflow: visible;
  margin-top: 10rem;
  transition: all 0.6s ease-in-out;
}

.word.expanded {
  /* transform: translateY(-80px); */
  transition: all 0.6s ease-in-out;
  margin-top: 5rem;

}

.defaultWord {
  display: flex;
  justify-content: center;
  gap: 0.2em;
}

.letter {
  display: inline-block;
  transition: all 0.6s ease-in-out;
}

.partContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.6s ease-in-out;
  transform: translateX(0);
  font-size: 1.5rem;
  /* max-width: 100vw; */
  /* padding: 0 1rem; */
}

.word:not(.expanded) .partContainer {
  position: relative;
  transform: translateX(0) !important;
}

.partLetters {
  display: flex;
  gap: 0.1em;
}

.partLetters::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease;
}

.expanded .partLetters::after {
  width: 100%;
}

.meaning {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(0.5rem);
  opacity: 0;
  color: #666;
  text-align: center;
  white-space: normal;
  width: max-content;
  /* max-width: 550px; */
  font-size: 0.875rem;
  transition: all 0.3s ease;
  padding: 0.25rem;
}

.expanded .meaning {
  opacity: 1;
}

.wordMeaning {
  color: #666;
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
  transform: translateY(1rem);
  position: absolute;
  top: 100%;
  white-space: normal;
  text-align: center;
  width: 100%;
  /* max-width: 90vw; */
  padding: 0 1rem;
}

.expanded .wordMeaning {
  /* transform: translateY(0); */
  transition: opacity 0.3s ease 0.3s;

}

.wordPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;  
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s ease
}

.wordPart.expanded {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;
}

.audiobutton {
  opacity: 1;
  transform: translateY(6rem);
}

.audiobutton.expanded {
  opacity: 0;
  transform: translateY(0);
  transition: all 0.6s ease-in-out;

}

.expanded {
  opacity: 1;
  transform: translateY(0);
  font-size: 3.5rem;
}

.associationArea {
  height: auto;
  border-radius: 8px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease;
  color: #666;
  z-index: 10;
  position: relative;
  margin-bottom: 1rem;

}

.associationArea.expanded {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s ease 1s;
}

.associationTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.5rem;
}

.associationContent {
  font-size: 1rem;
  line-height: 1.5;
}

.sentence {
  margin-top: 1rem;
  font-style: italic;
}


.inputContainer {
  position: relative;
  width: 100%;
  height: 4rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease 0.3s;
  background-color: #fff;
  border-radius: 8px;
}

.inputContainer.expanded {
  opacity: 1;
  transform: translateY(0);
}

.inputContainer textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 1rem;
  line-height: 1;
}

/* .inputContainer textarea:focus {
  border-color: #010101;
  box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
} */

@media (max-width: 768px) {
  .word.expanded {
    gap: 1rem;
  }

  .meaning {
    font-size: 0.75rem;
    max-width: 320px;
  }
}